[Unit]
Description=Shut down if PSU is not connected

[Service]
ExecStart=/root/utils/autoshutdown/check_psu.sh
Restart=always

[Install]
WantedBy=multi-user.target
